.cssgrid-container{
	--cssgrid-container-type: grid;
	--cssgrid-container-height: 100%;
	--cssgrid-container-weight: 100%;	
	--cssgrid-container-columns: repeat(100, 1%);
	--cssgrid-container-rows: repeat(100, 1%);

	display: var(--cssgrid-container-type);
	height: var(--cssgrid-container-height);
	weight: var(--cssgrid-container-weight);
	grid-template-columns: var(--cssgrid-container-columns);
	grid-template-rows: var(--cssgrid-container-rows);	
}

.cssgrid-element{
	--cssgrid-element-column-start: auto;
	--cssgrid-element-column-end: auto;
	--cssgrid-element-row-start: auto;
	--cssgrid-element-row-end: auto; 
 
	grid-column-start: var(--cssgrid-element-column-start);
	grid-column-end: var(--cssgrid-element-column-end);
	grid-row-start: var(--cssgrid-element-row-start);
	grid-row-end: var(--cssgrid-element-row-end);
}