.flex-pane{
	--flex-pane-order: 0;
	--flex-pane-growth: 0;
	--flex-pane-shrink: 1;
	--flex-pane-basis: auto;
	--flex-pane-align-self: auto;
	--flex-pane-flex: 0 1 auto;
	order: var(--flex-pane-order);
	flex-grow: var(--flex-pane-growth) !important;
  	flex-shrink: var(--flex-pane-shrink) !important;
	flex-basis: var(--flex-pane-basis) !important;
	flex: var(--flex-pane-flex);
	align-self: var(--flex-pane-align-self);
}

.flex-container{
	display: flex;
	--flex-container-direction: row;
	--flex-container-wrap: nowrap;
	--flex-container-flow: row || nowrap;
	--flex-container-justify-content: flex-start;
	--flex-container-align-items: stretch;
	--flex-container-align-content: stretch;
	--flex-container-height: 95vh;
	--flex-container-overflow: hidden;
	flex-direction: var(--flex-container-direction)  !important;
	flex-wrap: var(--flex-container-wrap)  !important;
	flex-flow: var(--flex-container-flow);
	justify-content: var(--flex-container-justify-content);
	align-items: var(--flex-container-align-items);
	align-content: var(--flex-container-align-content);
 	min-height: var(--flex-container-height);
 	max-height: var(--flex-container-height);
	overflow: var(--flex-container-overflow);
}

@media (orientation: portrait){
	.flex-container{
 		--flex-container-height: 98vh;
	}
}
