%flex-pane{
	display: flex;
	order: 0;
	flex-grow: 0;
  	flex-shrink: 1;
	flex-basis: auto;
	flex: 0 1 auto;
	align-self: auto;
}

%flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-flow: row  nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
