@import 'theme_variables';
@import 'flex-layout';
@import 'css-grid';	
	
body{
	background-color: $body-background;
}

.screen-grid{
	@extend %cssgrid-container;
	width: $maxWidth;
	height: $maxHeight;
	margin-left: auto;
	margin-right: auto;
}

.screen-grid-item{
	@extend %cssgrid-element;
	grid-column-start: 1;
	grid-column-end: 100;
	grid-row-start: 1;
	grid-row-end: 100;
	z-index: 0;
}

.down-button{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.down-button a{
	color: $colorAdjustment;
}

.down-button-1{
	width: 100%;
	text-align: center;
}

.down-button-1 a{
	color: $colorAdjustment;
}

.nutshell-container{
	@extend %flex-container;
	min-height: $maxHeight * .90;
	max-height: $maxHeight * .90;
	width: $maxWidth;
}

.nutshell-panel{
	@extend %flex-pane;
	flex-grow: 1;
	flex-shrink: 0;
	justify-content: center;
	background-color: $mainColor;
}

.nutshell-pane{
	@extend %flex-pane;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 33%;
	background-repeat: no-repeat; 
	background-position: center;
	background-color: $mainColor;
	background-size: 80%; 
}

.riot-pane{
	@extend %flex-pane;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 25%;
	align-self: flex-start;
}


.nutshell-pane-2{
	@extend %flex-pane;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	justify-content: center;
	align-items: center;
}

.downbutton-pane{
	@extend %flex-container;
	width: $maxWidth;
	justify-content: center;
	background-color: $mainColor;
}


.content-column{
	display: flex;
 	align-items:center;
	text-align: justify;
	font-size: 20px;
}

.content-column-2{
	@extend .content-column;
	flex-direction: column;
	justify-content: center;
	width: 75%;
}

.image-padding{
	margin: 20px;
}

.riot-image{
	@extend .image-padding;
//	height: 25vh;
//	width: 80%;
}

.transition{
    min-height: 5vh;
    max-height: 5vh;
    display: block;
    width: $maxWidth;	
}



//BOOTSTRAP

//NAVBAR

.navbar-default {
    background: linear-gradient(to bottom, $navBarColor, transparent);
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

@media (min-width: 768px){
	.navbar-right {
		margin-right: 0;
	}
}

//CAROUSEL CONTROL

.carousel-control{
	width: 5%;
	color: $colorAdjustment;
	background-image: none !important;
}

.carousel-control:hover{
	color: black;
}

.carousel-control:focus{
	color: $navBarColor;
}


.carousel-caption{
	color: $colorAdjustment;
}