@import 'theme_variables';
@import 'flex-layout';
@import 'css-grid';	
	
body{
	background-color: $body-background;
}

.flex-c-test{
	@extend %flex-container;
}

.flex-p-test{
	@extend %flex-pane;
}

.screen{
	@extend %flex-container;
}

.screen-item{
	@extend %flex-pane;
}

.screen-grid{
	@extend %cssgrid-container;
	width: calc(100vh * 1.6);
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.screen-grid-item{
	@extend %cssgrid-element;
	grid-column-start: 1;
	grid-column-end: 100;
	grid-row-start: 1;
	grid-row-end: 100;
}

.menu-grid-item{
	@extend %cssgrid-element;
	grid-column-start: 1;
	grid-column-end: 100;
	grid-row-start: 1;
	grid-row-end: 10;
}