.screen-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(100, 1%);
  grid-template-areas: "";
  grid-gap: 0px 0px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  grid-auto-columns: 0px;
  grid-auto-rows: 0px;
  grid-auto-flow: row;
}

.screen-grid-item {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-column: auto/auto;
  grid-row-start: auto;
  grid-row-end: auto;
  grid-row: auto/auto;
  grid-area: "";
}

body {
  background-color: white;
}

.screen-grid {
  width: calc(100vh * 1.6);
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.screen-grid-item {
  grid-column-start: 1;
  grid-column-end: 100;
  grid-row-start: 1;
  grid-row-end: 100;
  z-index: 0;
}

.down-button {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.navbar-default {
  background: linear-gradient(to bottom, #000, transparent);
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}
