.flex-pane {
  --flex-pane-order: 0;
  --flex-pane-growth: 0;
  --flex-pane-shrink: 1;
  --flex-pane-basis: auto;
  --flex-pane-align-self: auto;
  --flex-pane-flex: 0 1 auto;
  order: var(--flex-pane-order);
  flex-grow: var(--flex-pane-growth) !important;
  flex-shrink: var(--flex-pane-shrink) !important;
  flex-basis: var(--flex-pane-basis) !important;
  flex: var(--flex-pane-flex);
  align-self: var(--flex-pane-align-self);
}

.flex-container {
  display: flex;
  --flex-container-direction: row;
  --flex-container-wrap: nowrap;
  --flex-container-flow: row || nowrap;
  --flex-container-justify-content: flex-start;
  --flex-container-align-items: stretch;
  --flex-container-align-content: stretch;
  --flex-container-height: 95vh;
  --flex-container-overflow: hidden;
  flex-direction: var(--flex-container-direction) !important;
  flex-wrap: var(--flex-container-wrap) !important;
  flex-flow: var(--flex-container-flow);
  justify-content: var(--flex-container-justify-content);
  align-items: var(--flex-container-align-items);
  align-content: var(--flex-container-align-content);
  min-height: var(--flex-container-height);
  max-height: var(--flex-container-height);
  overflow: var(--flex-container-overflow);
}

@media (orientation: portrait) {
  .flex-container {
    --flex-container-height: 98vh;
  }
}
.cssgrid-container {
  --cssgrid-container-type: grid;
  --cssgrid-container-height: 100%;
  --cssgrid-container-weight: 100%;
  --cssgrid-container-columns: repeat(100, 1%);
  --cssgrid-container-rows: repeat(100, 1%);
  --cssgrid-container-template-areas: "";
  --cssgrid-container-column-gap: 0px;
  --cssgrid-container-row-gap: 0px;
  display: var(--cssgrid-container-type);
  height: var(--cssgrid-container-height);
  width: var(--cssgrid-container-weight);
  grid-template-columns: var(--cssgrid-container-columns);
  grid-template-rows: var(--cssgrid-container-rows);
  grid-template-areas: var(--cssgrid-container-areas);
  grid-column-gap: var(--cssgrid-container-column-gap);
  grid-row-gap: var(--cssgrid-container-row-gap);
}

.cssgrid-element {
  --cssgrid-element-column-start: auto;
  --cssgrid-element-column-end: auto;
  --cssgrid-element-row-start: auto;
  --cssgrid-element-row-end: auto;
  --cssgrid-element-area: "";
  grid-column-start: var(--cssgrid-element-column-start) !important;
  grid-column-end: var(--cssgrid-element-column-end) !important;
  grid-row-start: var(--cssgrid-element-row-start) !important;
  grid-row-end: var(--cssgrid-element-row-end) !important;
  grid-area: var(--cssgrid-element-area);
}

body {
  background-color: red;
}
