.screen-item, .flex-p-test {
  --flex-pane-order: 0;
  --flex-pane-growth: 1;
  --flex-pane-shrink: 1;
  --flex-pane-basis: auto;
  --flex-pane-align-self: auto;
  --flex-pane-flex: 0 1 auto;
  order: var(--flex-pane-order);
  flex-grow: var(--flex-pane-growth) !important;
  flex-shrink: var(--flex-pane-shrink) !important;
  flex-basis: var(--flex-pane-basis) !important;
  flex: var(--flex-pane-flex);
  align-self: var(--flex-pane-align-self);
}

.screen, .flex-c-test {
  display: flex;
  --flex-container-direction: row;
  --flex-container-wrap: nowrap;
  --flex-container-flow: row || nowrap;
  --flex-container-justify-content: flex-start;
  --flex-container-align-items: stretch;
  --flex-container-align-content: stretch;
  --flex-container-height: 95vh;
  --flex-container-overflow: hidden;
  flex-direction: var(--flex-container-direction) !important;
  flex-wrap: var(--flex-container-wrap) !important;
  flex-flow: var(--flex-container-flow);
  justify-content: var(--flex-container-justify-content);
  align-items: var(--flex-container-align-items);
  align-content: var(--flex-container-align-content);
  min-height: var(--flex-container-height);
  max-height: var(--flex-container-height);
  overflow: var(--flex-container-overflow);
}

@media (orientation: portrait) {
  .screen, .flex-c-test {
    --flex-container-height: 98vh;
  }
}
.screen-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(100, 1%);
  grid-template-areas: "";
  grid-gap: 0px 0px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  grid-auto-columns: 0px;
  grid-auto-rows: 0px;
  grid-auto-flow: row;
}

.menu-grid-item, .screen-grid-item {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-column: auto/auto;
  grid-row-start: auto;
  grid-row-end: auto;
  grid-row: auto/auto;
  grid-area: "";
}

body {
  background-color: white;
}

.screen-grid {
  width: calc(100vh * 1.6);
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.screen-grid-item {
  grid-column-start: 1;
  grid-column-end: 100;
  grid-row-start: 1;
  grid-row-end: 100;
}

.menu-grid-item {
  grid-column-start: 1;
  grid-column-end: 100;
  grid-row-start: 1;
  grid-row-end: 10;
}
