@import 'theme_variables';
@import 'flex-layout';
@import 'css-grid';	
	
body{
	background-color: $body-background;
}

.screen-grid{
	@extend %cssgrid-container;
	width: calc(100vh * 1.6);
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.screen-grid-item{
	@extend %cssgrid-element;
	grid-column-start: 1;
	grid-column-end: 100;
	grid-row-start: 1;
	grid-row-end: 100;
	z-index: 0;
}

.down-button{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

//BOOTSTRAP

//NAVBAR
.navbar-default {
    background: linear-gradient(to bottom, #000, transparent);
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

@media (min-width: 768px){
	.navbar-right {
		margin-right: 0;
	}
}